#card {
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    padding: 1rem;
   
}

#card h3 {
    font-weight: lighter;
    text-transform: uppercase;
    margin: auto;
}

#card h5, h6 {
    font-weight: lighter;
    margin: auto;
}