#maintitle {
    position: relative;
}

#title {
    background-color: lightblue;
    border-radius: .5rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    padding: 1rem;
}

#mainchat {
    height: 80%;
    position: relative;
    overflow: scroll;
}
#mainMessage {
    height: 11%;
    position: relative;
    overflow: scroll;
    padding-top: 1rem;
}

#card {
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    padding: 1rem;
}

#card h3 {
    font-weight: lighter;
    text-transform: uppercase;
    margin: auto;
}

#card h5, h6 {
    font-weight: lighter;
    margin: auto;
}
#chat {
    border-radius: 0.5rem;
    display: flex;
    margin-left: 1rem;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat textarea {
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    border-width: 0;
    width: 80%;
    height: 40px;
}

#chat button {
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
    border-width: 0;
    padding: 0.5rem;
    margin-bottom: 2rem;
    width: 20%;
}
#chat button:hover {
    background-color: lightgray;
}