#chats{
    margin-top: 1rem;
    margin-left: 0.5rem;
    background-color: rgba($color: white, $alpha: 0.5);
    width: 100%;
    min-width: 100%;
    border-radius: .5rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
    padding-top: 1rem;
    padding-left: 1rem;
}
#chat {
    padding-bottom: 1rem;
    display: flex;
    cursor: pointer;
}
#chat span {
    margin: auto;
}

#ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: wheat;
    background-color: white;
}

#ava img{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}