<div id='main'>

    <div id='users'>
        <div *ngFor="let user of users$ | async">
            <img src='' />
            <div id='username'>
                <a (click)='selectedChat(user.id)'>
                    {{ (user.id == me.id) ? 'me' : user.username }}
                </a>
            </div>
            <span *ngIf='isOnline(user.id)'>*</span>
        </div>

    </div>

    <div id='chats'>

        <div id='messages'>
            <div *ngFor="let message of messages$">
                <app-chan-message [message]='message' ></app-chan-message>
            </div>
        </div>

        <form id='writemessage' #message onsubmit='javascript:void(0);'> 
            <input type='text' id='written'/>
            <button type='button' (click)="sendMessage(message.written.value)"> 
                send
            </button>
        </form>
    </div>
    

</div>