#main{
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, -20%);
    background-color: lightblue;
    height: 100%;
    width: 70%;
    display: flex;
    border-radius: 1rem;
}

#users{
    margin: auto 0;
    background-color: lemonchiffon;
    height: 100%;
    width: 30%;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
}

#message{
    margin: 3%;
    background-color: white;
    height: 92%;
    width: 70%;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: .5);
}